<!DOCTYPE html>
<html>
	<head>
		<title> Hotel Kanor : About Us </title>
		 <link rel="stylesheet" type="text/css" href="bootstrap.min.css">
	</head>
	<body background = "AboutUs.jpg">
		<div class="container">
			<div class="row">
			<div class="col-md-3"> <a href = "/front"> <h4> Hotel Kanor </h4> </a> </div>
			<div class="col-md-3"> <a href = "/about"> About Us </a> </div>
			<div class="col-md-3"> <a href = "/list"> Rooms </a> </div>
			<div class="col-md-3"> <a href = "/reserve"> Reserve </a> </div>
			</div>
		</div>
		<h1> ABOUT US </h1>
		Welcome to Hotel Kanor! We are oriented towards serving you! Established in April 2014 by Mr. Kanor, Hotel Kanor has given service and pleasure to our guests from around the globe. We hope you'd like your stay here at Hotel Kanor: Where pleasure is number one!
	</body>
</html>