<!DOCTYPE html>
<html>
	<head>
		<title> Hotel Kanor : Front Page </title>
		 <link rel="stylesheet" type="text/css" href="bootstrap.min.css">
	</head>
	<body background = "FrontIMage.jpg">
		 <div class="container">
			<div class="row">
			<div class="col-md-3"> <a href = "/front"> <h4> Hotel Kanor </h4> </a> </div>
			<div class="col-md-3"> <a href = "/about"> About Us </a> </div>
			<div class="col-md-3"> <a href = "/list"> Rooms </a> </div>
			<div class="col-md-3"> <a href = "/reserve"> Reserve </a> </div>
			</div>
		</div>
		<h1 class="logo"> Hotel Kanor </h1>
	</body>
</html>