<html>
	<head>
		<title> Hotel Kanor : Rooms </title>
		 <link rel="stylesheet" type="text/css" href="bootstrap.min.css">
	</head>
	<body>
		<div class="container">
			<div class="row">
			<div class="col-md-3"> <a href = "/front"> <h4> Hotel Kanor </h4> </a> </div>
			<div class="col-md-3"> <a href = "/about"> About Us </a> </div>
			<div class="col-md-3"> <a href = "/list"> Rooms </a> </div>
			<div class="col-md-3"> <a href = "/reserve"> Reserve </a> </div>
			</div>
		</div>
		<h1> ROOMS </h1>
		<table>
			<tr>
				<td>
					<img src = "Double.jpg" height = 300px width = 400px>
					<br />
					Double - 1 double bed, 1 bathroom
				</td>
				<td>
					<img src = "Queen.jpg" height = 300px width = 400px>
					<br />
					Deluxe - 2 double-sized beds OR 1 queen-sized bed, 1 bathroom
				</td>
			</tr>
			<tr>
				<td>
					<img src = "King.jpg" height = 300px width = 400px>
					<br />
					Suite - 2 queen-sized beds OR 1 king-sized bed, special living room, 2 bathrooms
				</td>
				<td>
					<img src = "Kanor.jpg" height = 300px width = 400px>
					<br />
					The Kanor Experience - 2 king-sized beds, special living room, 2 bathrooms, added VIP perks
			</tr>
		</table>  
	</body>
</html>